<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Expensive Cards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<header>
    <div th:insert="fragments/navbar.html"></div>
    <div th:insert="fragments/searchbar.html"></div>
</header>
<body style="background-color: #1e2441">
<div style="background-color: #1e2441; color: white">
    <h3>Expensive Finds</h3>
    <div class="row row-cols-1 row-cols-md-6 g-4">

        <div th:each="cards : ${allCards}">
            <a th:href="@{'/card/info/' + ${cards.id} + '/'}" class="list-group-item list-group-item-action">
            <div class="card h-100">
                <img src="https://example.com/img/sample.jpg" class="card-img-top" th:alt="${card.cardName}">
                <div class="card-body">
                    <h5 th:text="${cards.cardName}"></h5>
                    <p th:text="${cards.series}"></p>
                    <p th:text="${cards.marketAvg}"></p>
                </div>
            </div>
            </a>
        </div>

    </div>
</div>
</body>
</html>